.sub-menu-organizer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(0, auto));
  color: white;

  @mixin atMedium {
    grid-template-rows: repeat(4, minmax(0, auto));
  }

  @mixin atLarge {
    grid-template-columns: auto 1fr;
    grid-column-gap: calc(1.5 * $controlPxLarge);
    grid-template-rows: repeat(2, minmax(0, auto));
  }

  @mixin atXLarge {
    grid-column-gap: calc(1.3 * $controlPxXLarge);
  }

  &__control {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: $controlHeightBaseline;
    margin-bottom: $controlMbBaseline;

    .sub-menu-organizer__slider-bar &,
    .sub-menu-organizer__date-filter &,
    .sub-menu-organizer__notifications & {
      margin-bottom: 0;
    }

    .sub-menu-organizer__date-filter & {
      @mixin atMedium {
        margin-bottom: $controlMbMedium;
      }

      @mixin atLarge {
        margin-bottom: 0;
      }
    }

    @mixin atMedium {
      max-width: 440px;
      margin-left: 0;
      height: $controlHeightMedium;
      margin-bottom: $controlMbMedium;
    }

    @mixin atLarge {
      height: $controlHeightLarge;
      width: 440px;
    }
  }

  &__control--reveal {
    height: 0;
    margin-bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease-out .35s, opacity .35s ease-in 1ms;

    @mixin atMedium {
      height: $controlHeightMedium;
      margin-bottom: $controlMbMedium;
      visibility: visible;
      opacity: 1;
    }

    @mixin atLarge {
      height: $controlHeightLarge;
    }

    .sub-menu-organizer--search & {
      height: $controlHeightBaseline;
      margin-bottom: $controlMbBaseline;
      visibility: visible;
      opacity: 1;
      transition: all .35s ease-out, opacity .35s ease-in .35s;

      @mixin atMedium {
        height: $controlHeightMedium;
        margin-bottom: $controlMbMedium;
      }

      @mixin atLarge {
        height: $controlHeightLarge;
      }
    }
  }

  &__date-filter &__control--overlay {
    visibility: hidden;
    opacity: 0;
    transition: opacity .35s ease-out, visibility 1ms .35s;

    @mixin atMedium {
      visibility: visible;
      opacity: 1;
      transition: none;
    }

    .sub-menu-organizer--search & {
      visibility: visible;
      opacity: 1;
      transition: opacity .35s ease-out .35s, visibility 1ms;
    }
  }

  &__slider-bar &__control--overlay {
    visibility: visible;
    opacity: 1;
    transition: opacity .35s ease-out .35s, visibility 1ms;

    .sub-menu-organizer--search &,
    .sub-menu-organizer--notifications & {
      visibility: hidden;
      opacity: 0;
      transition: opacity .35s ease-out, visibility 1ms .35s;
    }

    @mixin atMedium {
      .sub-menu-organizer--search & {
        visibility: visible;
        opacity: 1;
        transition: opacity .35s ease-out, visibility 1ms;
      }
    }
  }

  &__date-filter {
    grid-column: 1 / 2;
    grid-row: -2 / -1;
    z-index: 2;

    .sub-menu-organizer--search & {
      z-index: 3;
    }

    @mixin atMedium {
      grid-row: -3 / -2;
    }

    @mixin atLarge {
      grid-column: 2 / -1;
      grid-row: 2 / -1;
    }
  }

  &__notifications {
    grid-column: 1 / 2;
    grid-row: -2 / -1;
    z-index: 2;

    .sub-menu-organizer--notifications & {
      z-index: 3;
    }
  }

  &__slider-bar {
    grid-column: 1 / 2;
    grid-row: -2 / -1;
    z-index: 2;

    .sub-menu-organizer--search &,
    .sub-menu-organizer--notifications & {
      z-index: 1;
    }
  }
}