<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" content="notranslate">
  <meta name="description" content="Frontend project for Scribble App, which is a tool for time management and team collaboration.">
  <meta name="keywords" content="time, management, collaboration, scribble, notes, tasks, events, meetings, mail, chat, search, team">
  <meta name="author" content="Marcin Ogar">
  <title>${title}</title>
</head>