<% let  routes = {
  mail: 'mail'
} %>

<div class="top-bar top-bar--<%= routes[route] %>">

  <svg class="top-bar__back-icon">
    <use href="#arrow-left-regular"></use>
  </svg>

  <h2 class="top-bar__title"><%= routes[route] %></h2>

  <div class="top-bar__tools">

    <div class="top-bar__tool-1">

      <% if(route == 'mail' || route == 'organizer') { %>

      <svg class="top-bar__tool-icon">
        <use href="#ellipsis-vertical-solid"></use>
      </svg>

      <% } %>

    </div>

    <div class="top-bar__tool-2">

      <% if(route == 'mail') { %>
        <%- include ../components/_mail-notifier %>
      <% } %>

    </div>

    <div class="top-bar__tool-3">

      <% if(route == 'mail') { %>

        <div class="mail-plus">
          <div class="mail-plus__line mail-plus__line--vertical"></div>
          <div class="mail-plus__line mail-plus__line--horizontal"></div>
        </div>

      <% } %>

    </div>

  </div>

</div>