<li class="notification-display__item"> 
  <!--notification-display__item--visible-->

  <h4 class="notification-display__title">Event reminder</h4>

  <div class="notification-display__card-container">

  <%- cardHTML %>

  </div>

  <form class="notification-display__buttons">

    <button class="btn btn--dismiss" type="submit" name="action" value="dismiss">Dismiss</button>

    <button class="btn btn--snooze" type="submit" name="action" value="snooze">Snooze</button>

  </form>

</li>