<li class="notification-display__item">
  <!--notification-display__item--visible-->

  <h4 class="notification-display__title">Task overdue</h4>

  <div class="notification-display__card-container">

  <%- cardHTML %>

  </div>

  <form class="notification-display__buttons">

    <button class="btn btn--in-progress" type="submit" name="action" value="inProgress">In progress</button>

    <button class="btn btn--done" type="submit" name="action" value="done">Done</button>

  </form>

</li>