.chat-room {
  height: 0; /* 40px */
  overflow: hidden;
  position: relative;

  &__head-bar {
    height: 40px;
    background-color: $gray60;
    display: flex;
    align-items: center;
    color: $gray30;
  }

  &__main {
    height: auto !important; /*_chat-forum.css rule override*/
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__angle {
    margin: 0 20px;
    position: relative;
  }

  &__angle-tap-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5, 2);
    z-index: 2;
  }

  &__angle-icon {
    display: block;
    width: 24px;
    height: 14px;
    transition: transform .7s ease-out;
    z-index: 1;
  }

  &__angle-icon--rotated {
    transform: translateX(-10%) rotate(810deg);
  }

  &__head-bar__interlocutors-outer {
    width: 0;
    height: 32px;
    flex: auto;
    position: relative;
    overflow-x: hidden;
  }

  &__head-bar__interlocutors {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    white-space: nowrap;
  }

  &__head-bar__avatar-container {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    background-color: $gray20;
    margin-right: 12px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    transition: all .3s ease-out, opacity .3s ease-out .3s;
  }

  &__head-bar__avatar-container--flattened {
    width: 0;
    margin-right: 0;
    opacity: 0;
    border-width: 0;
    transition: all .3s ease-out .3s, opacity .3s ease-out;
  }

  &__head-bar__avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  &__head-bar__initials {
    color: $gray70;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: 400;
  }

  &__head-bar__msg-dot {
    display: block;
    width: 10px;
    height: 10px;
    background-color: $mainGreen;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
  }

  &__head-bar__new-container {
    width: 32px;
    height: 32px;
    border: 2px dashed;
    border-radius: 50%;
    position: relative;
    transition: border-color .3s ease-out, opacity .3s ease-out, visibility 0s;
    display: inline-block;
    vertical-align: top;
  }

  &__head-bar__new-container--active {
    border-color: white;

    div {
      background-color: white;
    }
  }

  &__head-bar__new-container--disabled {
    opacity: 0;
    visibility: hidden;
    transition: border-color .3s ease-out, opacity .3s ease-out, visibility 1s .35s;
  }

  &__head-bar__new-bar {
    height: 3px;
    width: 20px;
    background-color: $gray30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .3s ease-out;
  }

  &__head-bar__new-bar:last-child {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &__head-bar__interlocutor {
    display: flex;
    align-items: center;
    flex: auto;
    width: 0; /* not min-width!!! */
  }

  &__head-bar__name {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
    color: $gray20;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__close {
    margin-right: 20px;
    margin-left: 10px;
    position: relative;
  }

  &__close-tap-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5);
  }

  &__close-icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}