.chat-room {
  height: 0; /* 40px */
  overflow: hidden;
  position: relative;

  &--inflate-slowly {
    height: 40px;
    transition: height .6s ease-out;

    @mixin atMedium {
      height: 65px;
    }
  }

  &--inflate-quickly {
    height: 40px;
    transition: height .3s ease-out;

    @mixin atMedium {
      height: 65px;
    }
  }

  &--default {
    transition: none;
    height: 40px;

    .chat-rooms__room-container--expandable & {
      height: 100%;
    }

    @mixin atMedium {
      height: 65px;
    }
  }

  &--deflated {
    &,
    .chat-rooms__room-container--expandable & {
      transition: height .3s ease-out;
      height: 0;
    }
  }

  &__head-bar {
    height: 40px;
    background-color: $gray60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray30;

    @mixin atMedium {
      height: 65px;
    }
  }

  &__main {
    height: auto !important; /*_chat-forum.css rule override*/
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;

    @mixin atMedium {
      top: 65px;
    }
  }

  &__angle {
    margin: 0 20px;
    position: relative;

    @mixin atMedium {
      margin: 0 35px;
    }
  }

  &__angle-tap-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5, 2);
    z-index: 2;
  }

  &__angle-icon {
    display: block;
    width: 24px;
    height: 14px;
    transition: transform .7s ease-out;
    z-index: 1;

    @mixin atMedium {
      width: 40px;
      height: 20px;
    }
  }

  &__angle-icon--rotated {
    transform: translateX(-10%) rotate(810deg);
  }

  &__head-bar__interlocutors-outer {
    width: 0;
    max-width: 400px;
    height: 32px;
    flex: auto;
    position: relative;
    overflow-x: hidden;

    @mixin atMedium {
      height: 50px;
      max-width: 500px;
    }
  }

  &__head-bar__interlocutors {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    white-space: nowrap;
    font-size: 0;
  }

  &__head-bar__avatar-container {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    background-color: $gray20;
    margin-right: 12px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    transition: all .3s ease-out, opacity .3s ease-out .3s;

    @mixin atMedium {
      width: 50px;
      height: 50px;
      border-width: 2px;
      margin-right: 30px;
    }
  }

  &__head-bar__avatar-container--flattened {
    width: 0;
    margin-right: 0;
    opacity: 0;
    border-width: 0;
    transition: all .3s ease-out .3s, opacity .3s ease-out;
  }

  &__head-bar__avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  &__head-bar__initials {
    color: $gray70;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: 400;
    font-size: 1rem;

    @mixin atMedium {
      font-size: 1.3rem;
    }
  }

  &__head-bar__msg-dot {
    display: block;
    width: 10px;
    height: 10px;
    background-color: $mainGreen;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;

    @mixin atMedium {
      width: 14px;
      height: 14px;
    }
  }

  &__head-bar__new-container {
    width: 32px;
    height: 32px;
    border: 2px dashed;
    border-radius: 50%;
    position: relative;
    transition: border-color .3s ease-out, opacity .3s ease-out, visibility 0s;
    display: inline-block;
    vertical-align: top;

    @mixin atMedium {
      transform-origin: 0 0;
      transform: scale(1.5625);
      margin-right: 18px;
    }
  }

  &__head-bar__new-container--active {
    border-color: white;

    div {
      background-color: white;
    }
  }

  &__head-bar__new-container--disabled {
    opacity: 0;
    visibility: hidden;
    transition: border-color .3s ease-out, opacity .3s ease-out, visibility 1s .35s;
  }

  &__head-bar__new-bar {
    height: 3px;
    width: 20px;
    background-color: $gray30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .3s ease-out;
  }

  &__head-bar__new-bar:last-child {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &__head-bar__interlocutor {
    display: flex;
    align-items: center;
    flex: auto;
    width: 0; /* not min-width!!! */
    max-width: 400px;

    @mixin atMedium {
      max-width: 500px;
    }
  }

  &__head-bar__name {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
    color: $gray20;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @mixin atMedium {
      font-size: 1.75rem;
    }
  }

  &__close {
    margin: 0 20px;
    position: relative;

    @mixin atMedium {
      margin: 0 35px;
    }
  }

  &__close-tap-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5);
  }

  &__close-icon {
    display: block;
    width: 24px;
    height: 24px;

    @mixin atMedium {
      width: 40px;
      height: 40px;
    }
  }
}