.chat-rooms {
  height: 100%;
  overflow: hidden;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__hide-above {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
  }

  &__hide-below {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  &__room-container {
    border-bottom: 1px solid $gray30;
  }

  &__room-container--expandable {
    height: 100%;
  }

  &__new-room {
    background-color: $gray60;
    height: 40px;
    color: $gray30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: none;
  }

  &__new-room__add-container {
    width: 32px;
    height: 32px;
    border: 2px dashed;
    border-radius: 50%;
    position: relative;
    margin-left: 64px;
    transition: border-color .3s ease-out;
  }

  &__new-room__add-container--active {
    border-color: white;

    div {
      background-color: white;
    }
  }

  &__new-room__add-bar {
    height: 3px;
    width: 20px;
    background-color: $gray30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .3s ease-out;
  }

  &__new-room__add-bar:last-child {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &__new-room__close {
    margin-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
    position: relative;
  }

  &__new-room__close--active {
    opacity: 1;
    visibility: visible;
  }

  &__new-room__close-icon {
    display: block;
    width: 24px;
    height: 24px;
  }

  &__new-room__close-tap-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5);
    border: 1px solid red;
  }
}