.chat-forum {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__messages {
    flex: auto;
    height: 0;
    display: grid;
    align-content: end;
  }

  &__messages-inner {
    overflow-y: auto;
  }

  &__input-bar {
    display: grid;
    border-top: 1px solid $gray20;
  }

  &__input-bar::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    overflow-wrap: break-word;
    visibility: hidden;
    min-width: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__text-area {
    resize: none;
    outline: none;
  }

  &__text-area,
  &__input-bar::after {
    padding: 1rem;
    line-height: 3ex;
    border: none;
    font-size: .915rem;
    font-weight: 300;
    grid-area: 1 / 1 / 2 / 2;
    max-height: calc(9ex + 2rem);
  }
}