.chat-users {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0 20px 20px;
  flex: auto;
  min-height: 190px;
  overflow-y: auto;

  @mixin atMedium {
    padding: 0 110px 45px;
  }

  @mixin atLarge {
    .content__viewer--chat & {
      display: none;
    }
  }

  &__user-item {
    padding: 20px 0 5px;
    display: flex;
    box-sizing: content-box;
    height: 50px;
    max-width: 400px;
    margin: 0 auto;

    @mixin atMedium {
      height: 70px;
      padding: 45px 0 0;
      max-width: 500px;
    }
  }

  &__avatar-container {
    background-color: $gray20;
    color: $gray70;
    width: 50px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;

    @mixin atMedium {
      width: 70px;
      margin-right: 30px;
    }
  }

  &__initials {
    margin: auto;
    font-size: 1.25rem;
    font-weight: 400;

    @mixin atMedium {
      font-size: 1.65rem;
    }
  }

  &__name-container {
    display: flex;
    flex: auto;
    width: 0;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    margin: 0 0 7px;
    font-size: 1.3rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @mixin atMedium {
      font-size: 1.825rem;
      margin-bottom: 10px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: .85rem;
    color: $gray50;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @mixin atMedium {
      font-size: 1.15rem;
    }
  }

  &__select-dot {
    opacity: 0;
    width: 0;
    height: 24px;
    border: 0 solid $gray50;
    border-radius: 50%;
    align-self: center;
    flex: none;
    margin-left: 0;
    transition: all 0s .3s, opacity .3s ease-out;

    @mixin atMedium {
      height: 35px;
    }

    .chat-users--selectable & {
      transition: all 0s, opacity .3s ease-out;
      opacity: 1;
      width: 24px;
      margin-left: 20px;
      border-width: 2px;

      @mixin atMedium {
        width: 35px;
        margin-left: 24px;
      }
    }
  }

  &__select-dot--selected {
    background-color: $largeGradientBlue;
    border: none;
  }
}