<div class="content">

  <div class="content__left-col">
    <div class="content__viewer">
      left column
    </div>
  </div>

  <div class="content__right-col">
    <div class="content__viewer">
      right-column
    </div>
  </div>
</div>