<div class="content">

  <div class="content__left-col">
    <div class="content__viewer">
      
      <ul class="mail-list" data-box="inbox">

        <% mails.inbox.forEach(mail => { %>
          <li class="mail-list__card-container">
            <%- include ../components/mail/_mail-card.ejs %>
          </li>
        <% }) %>
        
      </ul>

      <ul class="mail-list" data-box="sent">

        <% mails.sent.forEach(mail => { %>
          <li class="mail-list__card-container">
            <%- include ../components/mail/_mail-card.ejs %>
          </li>
        <% }) %>
        
      </ul>

      <ul class="mail-list" data-box="drafts">
        
        <% mails.drafts.forEach(mail => { %>
          <li class="mail-list__card-container">
            <%- include ../components/mail/_mail-card.ejs %>
          </li>
        <% }) %>

      </ul>

    </div>
  </div>

  <div class="content__right-col">
    <div class="content__viewer">
      right-column
    </div>
  </div>
</div>