<div class="content">

  <div class="content__left-col content__left-col--organizer" data-index="3">

    <div class="content__viewer content__viewer--organizer">

      <div class="content__index-container content__index-container--1">
        index 1
      </div>

      <div class="content__index-container content__index-container--2">
        index 2
      </div>

      <div class="content__index-container content__index-container--3">
        <div class="items" data-items-type="task">

          <div class="items__heading"></div>

          <ul class="items__list items__list--tasks">

            <% items.tasks.forEach(item => {
            
              item.type = 'task'
              item.task = true
              item.shortened = false
            %>

              <% if(item.status === 'done') { %>
  
                <div class="items__list__divider"><span>Done</span></div>
  
              <% } %>
  
              <li class="items__list__card-container">
  
                <%- include ../../../assets/templates/organizer/_item-card.ejs %>
  
              </li>
  
            <% }) %>

          </ul>

        </div>
      </div>

    </div>

    <div class="content__navigation-container">
      
      <%- include ../components/organizer/_bottom-navigation.ejs %>

    </div>

  </div>

  <div class="content__right-col">
    <div class="content__viewer content__viewer--organizer"></div>
  </div>

  <div class="content__central-col">
    <div class="content__viewer content__viewer--organizer"></div>
  </div>

</div>