<div class="search">

  <div class="search__main">

    <div class="search__cloud-container">

      <div class="search__cloud-numbers">

        <svg class="search__cloud-number">
          <use href="#4-solid"></use>
        </svg>

        <svg class="search__cloud-number">
          <use href="#0-solid"></use>
        </svg>

        <svg class="search__cloud-number">
          <use href="#4-solid"></use>
        </svg>

      </div>

      <svg class="search__cloud-icon">
        <use href="#cloud-showers-heavy-solid"></use>
      </svg>

    </div>

    <div class="search__text-container">

      <h2 class="search__oops">Oops!</h2>

      <p class="search__text">We could not find that page.<br>You can always visit the<br><a href="index.html">homepage</a> to get a fresh start.</p>

    </div>

  </div>

  <svg class="search__large-wave-icon">
    <use href="#large-wave"></use>
  </svg>

  <svg class="search__small-wave-icon">
    <use href="#small-wave"></use>
  </svg>

</div>