.top-bar-mail {
  height: 100%;
  display: flex;
  align-items: center;

  &__back-icon {
    display: block;
    height: 24px;
    width: 21px;
  }

  &__title {
    font-size: 1.65rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 auto 0 15px;
  }

  &__tools {
    display: flex;
    align-items: center;
  }

  &__tools > div {
    margin-left: 35px;
  }

  &__plus {
    position: relative;
    width: 24px;
    height: 24px;
  }

  &__plus__line {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    transform-origin: 50% 50%;
    background-color: #fff;
  }

  &__plus__line--vertical {
    transform: translateY(-50%);
  }

  &__plus__line--horizontal {
    transform: translateY(-50%) rotate(90deg);
  }

  &__ellipsis-icon {
    display: block;
    height: 24px;
    width: 7px;
  }

}