$topGradientLight: #c6426e;
$topGradientDark: #642b73;

$largeGradientPink: #fc466b;
$largeGradientBlue: #6a82fb;
$largeGradientPurple: #642b73;
$largeGradientPinkBlue: #B364B3;
$largeGradientPinkPurple: #B0396F;
$largeGradientPurpleBlue: #6757B7;
$largeGradientPinkPurpleBlue: #975db1;
$largeGradientCircles: #bdd8fb;

$mainEggshell: #f4ecd6;
$mainLavender: #a4bef3;
$mainBlack: #2b2118;
$mainSilver: #f0f0f0;

$gray20: #ccc;
$gray30: #b3b3b3;
$gray50: #888;
$gray70: #4d4d4d;

$pill: 9999px;

$controlHeightBaseline: 1.875rem;
$controlHeightMedium: 2.375rem;
$controlHeightLarge: 2.5rem;

/* margins */
$controlMxBaseline: 20px;
$controlMyBaseline: 18px;
$controlMbBaseline: 18px;

$controlMxMedium: 45px;
$controlMyMedium: 22px;
$controlMbMedium: 30px;

$controlMxLarge: 40px;
$controlMyLarge: 30px;
$controlMbLarge: 30px;