@define-mixin atMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1255px) {
    @mixin-content;
  }
}

@define-mixin atXLarge {
  @media (min-width: 1495px) {
    @mixin-content;
  }
}

@define-mixin dateReplacement {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .calendar-card--next &,
  .calendar-card--prev & {
    transform: translateX(0);
  }
}