$topGradientLight: #c6426e;
$topGradientDark: #642b73;

$menuGradientLight: #582139;
$menuGradientDark: #311d3f;

$largeGradientPink: #fc466b;
$largeGradientBlue: #6a82fb;
$largeGradientPurple: #642b73;
$largeGradientPinkBlue: #B364B3;
$largeGradientPinkPurple: #B0396F;
$largeGradientPurpleBlue: #6757B7;
$largeGradientPinkPurpleBlue: #975db1;
$largeGradientCircles: #bdd8fb;

$mainEggshell: #f4ecd6;
$mainLavender: #a4bef3;
$mainBlack: #2b2118;
$mainSilver: #f0f0f0;
$mainGreen: #1effbc;
$availableDot: #9be169;

$primaryBlue: #53d8fb;
$primaryBlueDarker: #036e8a;
$primaryGreen: #abe188;
$primaryGreenDarker: #3d6f1c;
$primaryPurple: #592e83;
$primaryOrange: #f98948;
$primaryRed: #fc5c7d;
$primaryRedDarker: #b10327;

$gray10: #e6e6e6;
$gray20: #ccc;
$gray30: #b3b3b3;
$gray50: #888;
$gray60: #666;
$gray70: #4d4d4d;

$pill: 9999px;

$controlHeightBaseline: 1.875rem;
$controlMbBaseline: 18px;

$controlHeightMedium: 2.375rem;
$controlMbMedium: 30px;

$controlHeightLarge: 2.5rem;

/* padding */
$controlPxBaseline: 20px;
$controlPyBaseline: 18px;

$controlPxMedium: 45px;
$controlPtMedium: 22px;
$controlPbMedium: 40px;

$controlPxLarge: 40px;
$controlPyLarge: 30px;

$controlPxXLarge: 50px;