<div class="profile-photo">

  <div class="profile-photo__canvas-container">

    <canvas class="profile-photo__canvas" id="profile__photo__source"></canvas>

    <div class="profile-photo__overlay">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="profile-photo__input-surface"></div>

  </div>

  <div class="profile-photo__buttons">

    <input class="btn btn--form-upload" type="button" value="Upload">

    <input class="btn btn--form-discard" type="button" value="Discard">

    <input class="btn btn--form-save" type="button" value="Save">

  </div>

</div>