<% const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'] %>

<li class="schedule__list-item" data-date="<%= simpleDate %>">

  <div class="schedule__timeline">

    <h5 class="schedule__day-tag"><%= date.getDate() %><br><%= days[date.getDay()] %></h5>

    <div class="schedule__dot<%= selected ? ' schedule__dot--solid' : '' %>"></div>

  </div>

  <ul class="schedule__ribons"></ul>

</li>