.bell-notifier {
  position: relative;
  cursor: pointer;

  &__icon {
    display: block;
    width: 22px;
    height: 24px;

    @mixin atMedium {
      width: 34px;
      height: 38px;
    }
  }

  &__dot {
    display: none;
    width: 10px;
    height: 10px;
    background-color: $mainGreen;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10%, -10%);

    @mixin atMedium {
      width: 15px;
      height: 15px;
      transform: translate(-10%, 0);
    }

    .bell-notifier--yes & {
      display: block;
    }
  }
}