.notifications {
  height: 100%;
  display: flex;
  user-select: none;
  transition: opacity .3s ease-out;

  &--faded {
    opacity: 0;
  }
  
  &__bell-container {
    display: none;
    position: relative;
    cursor: pointer;

    @mixin atMedium {
      display: block;
      margin-right: 24px;
    }

    @mixin atLarge {
      order: 2;
      margin-right: 0;
      margin-left: 30px;
    }
  }

  &__notifier-tap-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(2, 1.5);
  }

  &__overlay {
    flex: 1;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity .35s ease-out, visibility 1ms .35s;

    .sub-menu-organizer--notifications & {
      visibility: visible;
      opacity: 1;
      transition: opacity .35s ease-out .35s, visibility 1ms .35s;
    }
  } 

  &__msg {
    padding: 0 20px;
    border-radius: $pill;
    background-color: rgba(0, 0, 0, .3);

    .notifications[data-count="0"] & {
      flex: auto;
      text-align: center;
    }

    @mixin atMedium {
      padding: 0 25px;
    }

    @mixin atXLarge {
      background-color: transparent;
      border: 1px solid white;
      font-weight: 300;
    }
  }

  &__msg::before {
    content: 'Notifications : ';

    .notifications[data-count="0"] & {
      content: 'No notifications at the moment';
    }

    @mixin atMedium {
      font-size: 1.15rem;
    }
  }

  &__msg::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: -9px;

    @mixin atMedium {
      vertical-align: -13px;
    }
  }

  &__msg span {
    display: inline-block;
    width: 1ex;
    text-align: center;
    transition: opacity .3s ease-out;
    
    &:first-child {
      margin-left: 12px;

      @mixin atMedium {
        margin-left: 15px;
      }
    }

    .notifications[data-count="0"] & {
      display: none;
    }
  }

  &__msg-span--faded {
    opacity: 0;
  }

  &__arrow {
    display: flex;
    width: $controlHeightBaseline;
    border-radius: $pill;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;

    .notifications[data-count="0"] & {
      display: none;
    }

    @mixin atMedium {
      width: $controlHeightMedium;
    }

    @mixin atLarge {
      width: $controlHeightLarge;
    }

    @mixin atXLarge {
      background-color: transparent;
      border: 1px solid white;
    }
  }

  &__arrow--left {
    margin-left: auto;
  }

  &__arrow--right {
    margin-left: 18px;
  }

  &__arrow__icon {
    width: 12px;
    height: 20px;
    margin: auto;

    @mixin atMedium {
      width: 16px;
      height: 26px;
    }
  }
}