.search-field {
  height: 100%;
  width: 100%;
  display: flex;
  color: $mainBlack;
  background-color: rgba(0, 0, 0, .3);
  border-radius: $pill;

  @mixin atXLarge {
    background-color: transparent;
    border: 2px solid white;
  }

  &__input {
    flex: auto;
    width: 0;
    border: none;
    outline: none;
    color: #fff;
    background-color: unset;
    padding-left: 15px;
    font-size: .9rem;

    &::placeholder {
      color: rgba(255, 255, 255, .5);

      @mixin atXLarge {
        font-weight: 300;
      }
    }

    @mixin atMedium {
      font-size: 1.15rem;
    }
  }

  &__label {
    width: 60px;
    display: flex;
    background-color: $mainEggshell;
    border-radius: $pill;

    @mixin atXLarge {
      margin-right: -1px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: auto;

    @mixin atMedium {
      width: 26px;
      height: 26px;
    }
  }
}