.slider-bar {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;

  &__slider-container {
    align-self: stretch;
    flex: 1;
  }

  &__slider {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    position: relative;
    border-radius: $pill;
    background-color: rgba(0, 0, 0, .3);
  }

  &__item {
    z-index: 1;
    display: flex;
    transition: color .2s ease;

    span {
      margin: auto;
    }
  }

  &__item[data-index="1"] {
    .slider-bar[data-index="1"] & {
      color: $mainBlack;
    }
  }

  &__item[data-index="2"] {
    .slider-bar[data-index="2"] & {
      color: $mainBlack;
    }
  }

  &__item[data-index="3"] {
    .slider-bar[data-index="3"] & {
      color: $mainBlack;
    }
  }

  &__indicator {
    width: 33.33%;
    height: 100%;
    position: absolute;
    background-color: $mainEggshell;
    border-radius: $pill;
    transition: all .4s ease;

    .slider-bar[data-index="1"] & {
      left: 0;
    }

    .slider-bar[data-index="2"] & {
      left: 50%;
      transform: translateX(-50%);
    }

    .slider-bar[data-index="3"] & {
      left: 100%;
      transform: translateX(-100%);
    }
  }

  &__notifier-container {
    display: none;
  }
}