.slider-bar {
  display: flex;
  height: 100%;
  align-items: center;
  -webkit-tap-highlight-color: transparent;

  &__slider-container {
    align-self: stretch;
    flex: 1;
  }

  &__slider {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    position: relative;
    border-radius: $pill;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;

    @mixin atXLarge {
      background-color: transparent;
      border: 1px solid white;
    }
  }

  &__item {
    z-index: 1;
    display: flex;
    transition: color .2s ease;

    span {
      margin: auto;

      @mixin atMedium {
        font-size: 1.15rem;
      }

      @mixin atXLarge {
        font-weight: 300;
      }
    }
  }

  &__item[data-index="1"] {
    .slider-bar[data-index="1"] & {
      color: $mainBlack;

      span {
        font-weight: 400;
      }
    }
  }

  &__item[data-index="2"] {
    .slider-bar[data-index="2"] & {
      color: $mainBlack;

      span {
        font-weight: 400;
      }
    }
  }

  &__item[data-index="3"] {
    .slider-bar[data-index="3"] & {
      color: $mainBlack;

      span {
        font-weight: 400;
      }
    }
  }

  &__indicator {
    width: 33.33%;
    height: 100%;
    position: absolute;
    background-color: $mainEggshell;
    border-radius: $pill;
    transition: all .4s ease;
    top: 0;

    .slider-bar[data-index="1"] & {
      left: 0;
    }

    .slider-bar[data-index="2"] & {
      left: 50%;
      transform: translateX(-50%);
    }

    .slider-bar[data-index="3"] & {
      left: 100.2%;
      transform: translateX(-100%);
    }
  }

  &__notifier-container {
    display: none;
    position: relative;
    cursor: pointer;

    @mixin atMedium {
      display: block;
      margin-right: 24px;
    }

    @mixin atLarge {
      order: 2;
      margin-right: 0;
      margin-left: 30px;
    }
  }

  &__notifier-tap-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(2, 1.5);
  }
}