.mail-card {
  padding: 20px 15px;
  background-color: #fff;

  @mixin atMedium {
    padding: 30px 25px;
  }

  @mixin atLarge {
    padding: 25px 20px;
  }

  &--read {
    color: $gray50;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: 25px 25px auto;
    grid-template-columns: 50px minmax(0, auto) 65px;
    grid-column-gap: 15px;
    grid-template-areas:
      "avatar user top-right"
      "avatar subject subject"
      "body body body"
    ;

    @mixin atMedium {
      grid-template-rows: 37px 37px auto;
      grid-template-columns: 74px minmax(0, auto) 100px;
      grid-column-gap: 20px;
    }

    @mixin atLarge {
      grid-template-rows: 33px 33px auto;
      grid-template-columns: 66px minmax(0, auto) 90px;
      grid-column-gap: 16px;
    }
  }

  &__avatar-container {
    grid-area: avatar;
    background-color: $gray20;
    color: $gray70;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
  }

  &__initials {
    margin: auto;
    font-size: 1.25rem;
    font-weight: 400;

    .mail-card--read & {
      opacity: .6;
    }

    @mixin atMedium {
      font-size: 1.75rem;
    }

    @mixin atLarge {
      font-size: 1.6rem;
    }
  }

  &__user-icon {
    color: #fff;
    width: 30px;
    height: 30px;
    margin: 8px auto;

    @mixin atMedium {
      width: 40px;
      height: 40px;
      margin-top: 14px;
    }

    @mixin atLarge {
      width: 35px;
      height: 35px;
      margin-top: 13px;
    }
  }

  &__user-container {
    grid-area: user;
  }

  &__user {
    margin: 0;
    font-size: 1.25rem;
    max-height: 100%;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .mail-card--read & {
      font-weight: 400;
    }

    @mixin atMedium {
      font-size: 1.65rem;
    }

    @mixin atLarge {
      font-size: 1.55rem;
    }
  }

  &__subject-container {
    grid-area: subject;
  }

  &__subject {
    margin: 0;
    font-size: .915rem;
    max-height: 100%;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .mail-card--read & {
      font-weight: 400;
    }

    @mixin atMedium {
      font-size: 1.25rem;
    }

    @mixin atLarge {
      font-size: 1.12rem;
    }
  }

  &__top-right {
    grid-area: top-right;
  }

  &__top-right--time {
    font-size: .915rem;
    color: $gray50;
    justify-self: end;

    @mixin atMedium {
      font-size: 1.25rem;
    }
    
    @mixin atLarge {
      font-size: 1.12rem;
    }
  }

  &__delete-area {
    justify-self: end;
    position: relative;
  }

  &__delete-extension {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5);
  }

  &__top-right--trash {
    width: 24px;
    height: 24px;
    color: $gray30;

    @mixin atMedium {
      width: 36px;
      height: 36px;
    }

    @mixin atLarge {
      width: 30px;
      height: 30px;
    }
  }

  &__body {
    grid-area: body;
    margin-bottom: 0;
    font-size: .85rem;
    line-height: 2.5ex;
    height: 7.5ex;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

    @mixin atMedium {
      font-size: 1.1rem;
      -webkit-line-clamp: 4;
      height: 10ex;
    }

    @mixin atLarge {
      font-size: .95rem;
    }
  }
}