.mail-read {
  background-color: #fff;
  padding: 20px;
  color: $mainBlack;

  &__mail-container {
    display: grid;
    grid-template-rows:
    minmax(0, min-content) [below-name] minmax(0, min-content) [below-image] minmax(0, 1fr) [above-subject] repeat(3, auto)
    ;
    grid-template-columns:
      65px [before-name] minmax(0, auto) [after-name] 65px
    ;
    grid-column-gap: 15px;
  }

  &__avatar-container {
    grid-column: 1 / before-name;
    grid-row: 1 / below-image;
    background-color: $gray20;
    height: 65px;
    color: $gray70;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
  }

  &__initials {
    margin: auto;
    font-size: 1.75rem;
    font-weight: 400;
  }

  &__from-user-name {
    grid-column: before-name / after-name;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__recipients-container {
    grid-column: before-name / -1;
    grid-row: below-name / above-subject;
    display: flex;

    > span {
      white-space: pre;
    }
  }

  &__to-tag {
    font-size: .85rem;
    color: $gray50;
    line-height: 1.5;
  }

  &__recipients-list {
    margin-top: 0;
    font-size: .85rem;
    color: $gray50;
    margin-bottom: 0;
    line-height: 1.5;

    span {
      color: $mainBlack;
      font-weight: 600;
    }
  }

  &__time {
    margin: 0;
    font-size: .915rem;
    color: $gray50;
    font-weight: 400;
    justify-self: end;
  }

  &__subject {
    grid-column: 1 / -1;
    grid-row: above-subject / span 1;
    margin: 15px 0 0;
    font-weight: 500;
  }

  &__body {
    grid-column: 1 / -1;
    white-space: pre-line;
    font-size: .82rem;
    line-height: 1.5;
  }

  &__buttons-container {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  &__button {
    border: 1px solid $gray30;
    border-radius: 3px;
    color: $gray50;
    font-size: .82rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin: 0 5px 0 5px;
    }
  }

  &__button--reply {
    width: 80px;
    height: 30px;

    svg {
      width: 21px;
      height: 18px;
    }
  }

  &__button--reply-all {
    width: 104px;
    height: 30px;
    margin-bottom: 16px;

    svg {
      width: 24px;
      height: 18px;
    }
  }

  &__button--close {
    width: 80px;
    height: 30px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__button--forward {
    width: 104px;
    height: 30px;
    margin-left: 37px;

    svg {
      width: 21px;
      height: 18px;
    }
  }

  &__button--delete {
    width: 104px;
    height: 30px;
    margin-right: 37px;

    svg {
      width: 16px;
      height: 18px;
    }
  }

  &__history-item {
    border-top: 2px solid $gray50;
    font-size: .85rem;
    padding: 20px 0;

    h5 {
      font-size: .85rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 8px;
    }

    h5 span {
      color: $gray50;
      margin-right: 5px;
    }
  }

  &__history-body {
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 0;
    white-space: pre-line;
  }
}