.user-card {
  background-color: white;
  overflow: auto;
  padding: 20px;

  @mixin atMedium {
    padding: 35px;
  }

  @mixin atLarge {
    padding: 25px 30px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 65px minmax(0, auto) 35px;
    grid-template-rows: 65px minmax(0, auto);
    grid-column-gap: 12px;
    grid-template-areas:
      "avatar info links"
      "bio bio links"
    ;

    @mixin atMedium {
      grid-template-columns: 90px minmax(0, auto) 50px;
      grid-template-rows: 90px minmax(0, auto);
      grid-column-gap: 20px;
    }

    @mixin atLarge {
      grid-template-columns: 80px minmax(0, auto) 45px;
      grid-template-rows: 80px minmax(0, auto);
    }
  }

  &__avatar-container {
    background-color: $gray20;
    color: $gray70;
    border-radius: 50%;
    display: flex;
    position: relative;
    grid-area: avatar;
  }

  &__availability-dot {
    width: 19px;
    height: 19px;
    background-color: $availableDot;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid white;

    &--offline {
      background-color: $gray30;
    }

    @mixin atMedium {
      width: 24px;
      height: 24px;
    }

    @mixin atLarge {
      width: 22px;
      height: 22px;
    }
  }

  &__avatar {
    border-radius: 50%;
  }

  &__initials {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 400;

    @mixin atMedium {
      font-size: 2rem;
    }

    @mixin atLarge {
      font-size: 1.75rem;
    }
  }

  &__info {
    grid-area: info;
  }

  &__name {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @mixin atMedium {
      font-size: 1.65rem;
    }

    @mixin atLarge {
      font-size: 1.5rem;
    }
  }

  &__title {
    font-size: .85rem;
    font-weight: 400;
    color: $gray50;
    margin: 8px 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @mixin atMedium {
      font-size: 1.1rem;
      margin: 12px 0 8px;
    }

    @mixin atLarge {
      font-size: 1rem;
      margin: 10px 0 7px;
    }
  }

  &__phone {
    font-size: .85rem;
    font-weight: 400;
    color: $gray50;
    margin: 0;

    @mixin atMedium {
      font-size: 1.1rem;
    }

    @mixin atLarge {
      font-size: 1rem;
    }
  }

  &__links {
    grid-area: links;
    color: $gray70;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    & > div {
      position: relative;
      display: flex;
    }

    @mixin atMedium {
      justify-content: space-between;
    }
  }

  &__links__tap-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5);
  }

  &__links__mail-icon,
  &__links__meeting-icon,
  &__links__chat-icon {
    width: 24px;
    height: 24px;
    margin: auto;

    @mixin atMedium {
      width: 40px;
      height: 40px;
    }

    @mixin atLarge {
      width: 34px;
      height: 34px;
    }
  }

  &__bio {
    grid-area: bio;
    font-size: .85rem;
    line-height: 2.5ex;
    height: 7.5ex;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

    @mixin atMedium {
      font-size: 1.1rem;
      margin-top: 20px;
    }

    @mixin atLarge {
      font-size: 1rem;
      margin-top: 18px;
    }
  }
}