.user-read {
  background-color: white;
  padding: 18px;

  @mixin atMedium {
    padding: 30px 45px 35px;
  }

  @mixin atLarge {
    padding: 20px 50px;
  }

  &__wrapper {
    position: relative;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    @mixin atLarge {
      right: -30px;
    }
  }

  &__close__tap-area {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5);
  }

  &__close__icon {
    width: 24px;
    height: 24px;
    color: $gray50;
    display: block;

    @mixin atMedium {
      width: 40px;
      height: 40px;
    }

    @mixin atLarge {
      width: 35px;
      height: 35px;
    }
  }

  &__avatar-container {
    padding-top: 15px;

    @mixin atMedium {
      padding-top: 40px;
    }

    @mixin atLarge {
      padding-top: 30px;
    }
  }

  &__avatar {
    width: 108px;
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $gray30;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    background-color: $gray10;
    background-clip: content-box;
    position: relative;

    @mixin atMedium {
      width: 200px;
      height: 200px;
      padding: 4px;
    }

    @mixin atLarge {
      width: 150px;
      height: 150px;
      padding: 3px;
    }
  }

  &__avatar__img {
    border-radius: 50%;
  }

  &__avatar__initials {
    margin: auto;
    font-size: 2.75rem;
    font-weight: 400;
    color: $gray50;

    @mixin atMedium {
      font-size: 3.5rem;
    }

    @mixin atLarge {
      font-size: 3rem;
    }
  }

  &__avatar__status-dot {
    width: 20px;
    height: 20px;
    background-color: $availableDot;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    left: 4px;

    &--offline {
      background-color: $gray30;
    }

    @mixin atMedium {
      width: 32px;
      height: 32px;
      border-width: 3px;
      bottom: 12px;
      left: 12px;
    }

    @mixin atLarge {
      width: 27px;
      height: 27px;
      border-width: 2px;
      bottom: 9px;
      left: 9px;
    }
  }

  &__status {
    font-size: .85rem;
    font-weight: 400;
    color: $gray50;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;

    @mixin atMedium {
      font-size: 1.33rem;
      margin-top: 12px;
    }

    @mixin atLarge {
      font-size: 1.1rem;
      margin-top: 10px;
    }
  }

  &__name {
    font-size: 1.85rem;
    font-weight: 500;
    margin: .7rem 0 .8rem;
    text-align: center;

    @mixin atMedium {
      font-size: 2.5rem;
      margin: .9rem 0 1rem;
    }

    @mixin atLarge {
      font-size: 2rem;
      margin: .8rem 0 .9rem;
    }
  }

  &__title {
    margin: 0;
    color: $gray30;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;

    @mixin atMedium {
      font-size: 1.35rem;
    }

    @mixin atLarge {
      font-size: 1.15rem;
    }
  }

  &__links {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $gray60;
      border: 1px solid $gray60;
      border-radius: 3px;
      padding: 5px 10px;
      font-size: .83rem;
      
      * {
        vertical-align: middle;
      }

      span {
        margin-left: 2px;
      }

      @mixin atMedium {
        font-size: 1.15rem;
        padding: 6px 12px;
      }

      @mixin atLarge {
        font-size: .915rem;
        padding: 6px 11px;
      }
    }

    @mixin atMedium {
      padding: 40px 0 30px;
    }

    @mixin atLarge {
      padding: 30px 0 25px;
    }
  }

  &__links__icon {
    width: 24px;
    height: 18px;

    @mixin atMedium {
      width: 35px;
      height: 25px;
    }

    @mixin atLarge {
      width: 27px;
      height: 20px;
    }
  }

  &__phone,
  &__email {
    margin: 0;
    text-align: center;
    font-size: .85rem;
    color: $gray60;
    font-weight: 400;

    @mixin atMedium {
      font-size: 1.15rem;
    }

    @mixin atLarge {
      font-size: 1rem;
    }
  }

  &__email {
    margin: 5px 0 24px;

    @mixin atMedium {
      margin: 6px 0 35px;
    }

    @mixin atLarge {
      margin: 8px 0 30px;
    }
  }

  &__rule {
    height: 2px;
    border: none;
    background-color: $gray50;
  }

  &__since {
    font-size: 1rem;
    font-weight: 500;
    color: black;

    @mixin atMedium {
      font-size: 1.35rem;
      margin-top: 1.2em;
    }

    @mixin atLarge {
      font-size: 1.1rem;
    }
  }

  &__bio {
    font-size: .85rem;
    line-height: 1.5;
    color: $gray60;

    @mixin atMedium {
      font-size: 1.15rem;
    }

    @mixin atLarge {
      font-size: 1rem;
    }
  }
}