<%- include partials/head %>

<body class="layout">
  <div class="layout__inner">

    <main class="layout__wrapper">

      <div class="layout__menu-container">
        <%- include partials/menu.ejs %>
      </div>

      <div class="layout__glass"></div>

      <div class="layout__sub-menu-container">
        <% if(route == 'mail') { %>
          <%- include partials/sub-menu/mail.ejs %>
        <% } %>
      </div>

      <div class="layout__content-container">
        <% if(route == 'mail') { %>
          <%- include partials/content/mail.ejs %>
        <% } %>
      </div>

    </main>

    <div class="layout__circle layout__circle--large"></div>
    <div class="layout__circle layout__circle--small"></div>
    
  </div>
</body>
</html>