
<%- include partials/head %>

<body>
  <!-- layout--mail layout--mail-expanded -->
  <main class="layout layout--mail">
    <div class="layout__container">

      <div class="layout__wrapper">

        <div class="layout__glass"></div>

        <!-- layout__menu-container--hidden -->
        <div class="layout__menu-container layout__menu-container--hidden layout__menu-col">
          
          <%- include partials/menu %>

        </div>
  
        <div class="layout__control layout__control--a layout__left-col">
          <div class="layout__control__inner">
            
            <%- include partials/top-bar %>

          </div>
        </div>
  
        <div class="layout__control layout__control--b layout__left-col">
          <div class="layout__control__inner">
            
            <%- include partials/slider-bar %>

          </div>
        </div>
  
        <div class="layout__control layout__control--c layout__left-col">
          <div class="layout__control__inner">
            control c
          </div>
        </div>
  
        <!-- class layout__control__inner--reveal added dynamically complemented by layout__control__inner--conceal for button in search and layout__control__inner--reveal-md for checkboxes in medium screen-->
        <div class="layout__control layout__control--d layout__right-col">
          <div class="layout__control__inner layout__control__inner--reveal">
            search
          </div>
        </div>
  
        <div class="layout__control layout__control--e layout__right-col">
          <div class="layout__control__inner layout__control__inner--reveal">
            dates
          </div>
        </div>
  
        <div class="layout__control layout__control--f layout__right-col">
          <div class="layout__control__inner">
            control f
          </div>
        </div>
  
        <div class="layout__viewer layout__viewer--a layout__left-col">
          <div class="layout__viewer__inner">
            viewer left
          </div>
        </div>
  
        <div class="layout__viewer layout__viewer--b layout__right-col">
          <div class="layout__viewer__inner">
            viewer right
          </div>
        </div>
  
      </div>

      <div class="layout__circle layout__circle--large"></div>
      <div class="layout__circle layout__circle--small"></div>

    </div>
  </main>
</body>
</html>

