<%- include partials/head %>

<body>

  <main class="login">
    <div class="login__wrapper">

      <div class="login__glass-container">
        <div class="login__glass">

          <div class="login__glass__content">

            <svg class="login__glass__logo">
              <use href="#feather-pointed-solid"></use>
            </svg>

            <h1 class="login__glass__app-name">Scribble App</h1>

            <p class="login__glass__app-slogan">The smart personal assistant, helping you keep your business activities all in one place.</p>

          </div>

          <div class="login__glass__circle-small"></div>
          <div class="login__glass__circle-large"></div>
          <div class="login__glass__see-through"></div>

        </div>
      </div>

      <div class="login__form-container">
        <div class="login__form-wrapper">

          <% let mode = 'signin' %>
          <%- include partials/entry-form.ejs %>

          <% mode = 'signup' %>
          <%- include partials/entry-form.ejs %>

        </div>
      </div>

    </div>
  </main>
  
</body>
</html>