<% let head = require('html-loader!./partials/head.html').default %>
<%= head.replace('${title}', htmlWebpackPlugin.options.title) %>
<body>

  <main class="welcome">

    <div class="welcome__wrapper">

      <div class="welcome__glass-container">
        <div class="welcome__glass">

          <div class="welcome__glass__content">

            <svg class="welcome__glass__logo">
              <use href="#feather-pointed-solid"></use>
            </svg>

            <h1 class="welcome__glass__app-name">Scribble App</h1>

            <p class="welcome__glass__app-slogan">The smart personal assistant, helping you keep your business activities all in one place.</p>

          </div>

          <div class="welcome__glass__circle-small"></div>
          <div class="welcome__glass__circle-large"></div>
          <div class="welcome__glass__see-through"></div>

        </div>
      </div>

      <div class="welcome__form-container">
        <div class="entry-form">

          <h2 class="entry-form__title">
            <%= route == 'signin' ? 'Sign In' : 'Sign Up' %>
          </h2>

          <form action="#" method="POST">

            <div class="entry-form__input">

              <input class="entry-form__input__field" name="username" type="text" placeholder="Username" autocomplete="off">

              <div class="entry-form__input__circle">
                <svg class="entry-form__input__icon entry-form__input__icon--pull-up">
                  <use href="#user-solid"></use>
                </svg>
              </div>

            </div>

            <% if(route == 'signup') { %>
              <div class="entry-form__input">

                <input class="entry-form__input__field" name="email" type="text" placeholder="Email" autocomplete="off">

              <div class="entry-form__input__circle">
                <svg class="entry-form__input__icon">
                  <use href="#envelope-solid"></use>
                </svg>
              </div>

              </div>
            <% } %>

            <div class="entry-form__input <%= route == 'signin' ? 'entry-form__input--mb-small' : ''%>">

              <input class="entry-form__input__field" name="password" type="password" placeholder="Password" autocomplete="off">

              <div class="entry-form__input__pass-toggle">
                <svg class="entry-form__input__pass-toggle__icon">
                  <use href="#eye-regular"></use>
                </svg>
              </div>

              <div class="entry-form__input__circle">
                <svg class="entry-form__input__icon">
                  <use href="#lock-solid"></use>
                </svg>
              </div>

            </div>

            <% if(route == 'signin') { %>
              <div class="entry-form__options-line">

                <div class="entry-form__remember">

                  <svg class="entry-form__remember__icon">
                    <use href="#square-regular"></use>
                  </svg>

                  <h3 class="entry-form__remember__text">Remember me</h3>

                </div>

                <h3 class="entry-form__forgot">Forgot password</h3>

              </div>
            <% } %> 

            <button class="btn btn--sign-in"><%= route == 'signin' ? 'Sign In' : 'Sign Up' %></button>

          </form>

          <div class="entry-form__or">
            <hr class="entry-form__or__line">
            <h4 class="entry-form__or__circle">OR</h4>
            <hr class="entry-form__or__line">
          </div>

          <a href="<%= route == 'signin' ? 'signup.html' : 'signin.html' %>" class="entry-form__link"><%= route == 'signin' ? 'Create an account' : 'Log in' %></a>

        </div>
      </div>
    </div>
  </main>
  
</body>
</html>