<div class="bottom-navigation">

  <div class="bottom-navigation__plus-btn">
    <div class="bottom-navigation__plus-bar"></div>
    <div class="bottom-navigation__plus-bar"></div>
  </div>

  <div class="bottom-navigation__left-end"></div>
  <div class="bottom-navigation__right-end"></div>

  <div class="bottom-navigation__wrapper">

    <div class="bottom-navigation__icons-container bottom-navigation__icons-container--left">

      <svg class="bottom-navigation__icons bottom-navigation__icons--pen">
        <use href="#pen-solid"></use>
      </svg>

      <svg class="bottom-navigation__icons bottom-navigation__icons--list-check">
        <use href="#list-check-solid"></use>
      </svg>

    </div>

    <div class="bottom-navigation__notch-container">

      <div class="bottom-navigation__notch"></div>

      <div class="bottom-navigation__arcs bottom-navigation__arcs--left"></div>
      <div class="bottom-navigation__arcs bottom-navigation__arcs--right"></div>

    </div>

    <div class="bottom-navigation__icons-container bottom-navigation__icons-container--right">

      <svg class="bottom-navigation__icons bottom-navigation__icons--calendar">
        <use href="#calendar-regular"></use>
      </svg>

      <svg class="bottom-navigation__icons bottom-navigation__icons--user-group">
        <use href="#user-group-solid"></use>
      </svg>

    </div>

  </div>

</div>