<div class="chat-room chat-room--deflated">

  <div class="chat-room__head-bar">

    <% interlocutors.forEach(interlocutor => { %>
      <span><%= interlocutor.id %></span>
    <% }) %>

  </div>

  <div class="chat-room__messages">

  </div>

  <div class="chat-room__input-bar">

  </div>

</div>