.profile-card {
  color: $mainBlack;
  background-color: white;
  position: relative;

  &__wrapper {
    padding: 0 20px;

    @mixin atMedium {
      padding: 0 50px;
    }

    @mixin atLarge {
      padding: 0 40px;
    }
  }

  &__top {
    overflow: auto;

    .profile-card[data-hook="right"] & {
      @mixin atLarge {
        display: none;
      }
    }

    .profile-card[data-hook="left"] & {
      @mixin atLarge {
        height: 425px;
      }
    }
  }

  &__edit-icon-container {
    position: absolute;
    right: 20px;
    top: 20px;

    @mixin atMedium {
      top: 35px;
    }

    @mixin atLarge {
      top: 30px;
    }
  }

  &__edit-tap-area {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.5);
  }

  &__edit-icon {
    width: 24px;
    height: 24px;
    color: $gray50;

    @mixin atMedium {
      width: 50px;
      height: 50px;
    }

    @mixin atLarge {
      width: 40px;
      height: 40px;
    }
  }

  &__photo-container {
    width: 106px;
    height: 106px;
    border-radius: $pill;
    padding: 2px;
    border: 2px solid $gray50;
    background-color: $gray10;
    background-clip: content-box;
    position: relative;
    margin: 32px auto;

    @mixin atMedium {
      width: 140px;
      height: 140px;
      margin: 88px auto 44px;
      padding: 3px;
    }

    @mixin atLarge {
      width: 130px;
      height: 130px;
      margin: 70px auto 30px;
    }
  }

  &__initials {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    color: $gray50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @mixin atMedium {
      font-size: 4rem;
    }

    @mixin atLarge {
      font-size: 3.5rem;
    }
  }

  &__upload {
    position: absolute;
    left: 4px;
    bottom: -6px;

    @mixin atMedium {
      left: 8px;
      bottom: -10px;
    }

    @mixin atLarge {
      left: 6px;
    }
  }

  &__upload-icon-container {
    border-radius: 5px;
    background-color: white;
    clip-path: polygon(8px 0, 100% 0, 100% 100%, 0 100%, 0 8px);

    @mixin atMedium {
      border-radius: 15px;
    }
  }

  &__upload-tap-area {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale(2, 1.5);
  }

  &__upload-icon {
    width: 24px;
    height: 32px;
    fill: $mainLavender;
    display: block;
    transform: scaleX(-1);

    @mixin atMedium {
      width: 32px;
      height: 42px;
    }
  }

  &__user-name {
    font-size: 1.825rem;
    font-weight: 500;
    text-align: center;
    margin: 0;

    @mixin atMedium {
      font-size: 2.4rem;
      font-weight: 400;
    }

    @mixin atLarge {
      font-size: 2.2rem;
    }
  }

  &__job-position {
    font-size: 1rem;
    font-weight: 400;
    color: $gray30;
    margin: 10px 0 25px;
    text-align: center;

    @mixin atMedium {
      font-size: 1.35rem;
      margin: 12px 0 36px;
    }

    @mixin atLarge {
      font-size: 1.25rem;
      margin: 10px 0 30px;
    }
  }

  &__phone-number {
    margin: 0;
    color: $gray60;
    text-align: center;
    font-size: .85rem;
    font-weight: 400;

    @mixin atMedium {
      font-size: 1.1rem;
    }

    @mixin atLarge {
      font-size: 1rem;
    }
  }

  &__email {
    font-size: .85rem;
    font-weight: 400;
    color: $gray60;
    text-align: center;
    margin: 6px 0 18px;

    @mixin atMedium {
      font-size: 1.1rem;
      margin: 10px 0 20px;
    }

    @mixin atLarge {
      font-size: 1rem;
      margin: 10px 0 45px;
    }
  }

  hr {
    height: 2px;
    background-color: $gray50;
    border: none;

    @mixin atLarge {
      display: none;
    }
  }

  &__bottom {
    overflow: auto;

    .profile-card[data-hook="left"] & {
      @mixin atLarge {
        display: none;
      }
    }

    .profile-card[data-hook="right"] & {
      @mixin atLarge {
        min-height: 425px;
      }
    }
  }

  &__joined-text {
    margin: 14px 0;
    font-size: 1rem;
    font-weight: 500;

    @mixin atMedium {
      font-size: 1.35rem;
      margin: 20px 0 16px;
    }

    @mixin atLarge {
      font-size: 1.5rem;
      margin: 30px 0;
    }
  }

  &__bio {
    font-size: .85rem;
    line-height: 1.5;
    color: $gray60;
    margin: 0 0 35px;

    @mixin atMedium {
      font-size: 1.15rem;
      margin-bottom: 40px;
    }

    @mixin atLarge {
      font-size: 1.1rem;
      line-height: 1.65;
      margin-bottom: 50px;
    }
  }
}