<div class="date-filter">

  <label for="date-filter__input--between" class="date-filter__label">Between</label>

  <input type="text" class="date-filter__input date-filter__input--between" id="date-filter__input--between" placeholder="mm/dd/yy" spellcheck="false">

  <label for="date-filter__input--and" class="date-filter__label">and</label>

  <input type="text" class="date-filter__input date-filter__input--and" id="date-filter__input--and" placeholder="mm/dd/yy" spellcheck="false">

</div>