<!-- mail-notifier--unread -->
<div class="mail-notifier <%= unread != 0 ? 'mail-notifier--unread' : '' %>">

  <svg class="mail-notifier__icon mail-notifier__icon--open">
    <use href="#envelope-open-regular"></use>
  </svg>

  <svg class="mail-notifier__icon mail-notifier__icon--close">
    <use href="#envelope-regular"></use>
  </svg>

  <span class="mail-notifier__badge">
    <%= unread %>
  </span>

</div>