<% let placeholders = {
  mail: "Search the mail...",
  team: "Enter a username...",
  chat: "Enter a username..."
} %>

<div class="search-field">

<input type="text" class="search-field__input" id="search-field__input" placeholder="<%= placeholders[route] %>">

<label for="search-field__input" class="search-field__label">
  <svg class="search-field__icon">
    <use href="#magnifying-glass-solid"></use>
  </svg>
</label>

</div>