<div class="slider-bar" data-index="1">

  <div class="slider-bar__notifier-container">

    <% if(route == 'organizer') { %>

      <%- include _bell-notifier.ejs %>

    <% } else if(route == 'mail') { %>

      <%- include _mail-notifier.ejs %>

    <% } else if(route == 'chat') { %>

      <%- include _chat-notifier.ejs %>

    <% } %>

  </div>

  <div class="slider-bar__slider-container">

    <div class="slider-bar__slider">

      <div class="slider-bar__item" data-index="1">
    
        <% if(route == 'organizer') { %>
          <span>Calendar</span>
        <% } else if(route == 'mail') { %>
          <span>Inbox</span>
        <% } else if(route == 'chat') { %>
          <span>Forum</span>
        <% } %>
    
      </div>
    
      <div class="slider-bar__item" data-index="2">
    
        <% if(route == 'organizer') { %>
          <span>Schedule</span>
        <% } else if(route == 'mail') { %>
          <span>Sent</span>
        <% } else if(route == 'chat') { %>
          <span>Group</span>
        <% } %>
    
      </div>
    
      <div class="slider-bar__item" data-index="3">
    
        <% if(route == 'organizer') { %>
          <span>Items</span>
        <% } else if(route == 'mail') { %>
          <span>Drafts</span>
        <% } else if(route == 'chat') { %>
          <span>Priv</span>
        <% } %>
    
      </div>
    
      <div class="slider-bar__indicator"></div>
    
    </div>

  </div>

</div>
