.calendar-card {
  background-color: white;
  color: $mainBlack;
  padding: 10px 18px 4px;
  height: 100%;
  display: flex;
  flex-direction: column;

  @mixin atMedium {
    padding: 25px 32px 12px;
  }

  @mixin atLarge {
    padding: 18px 32px 4px;
  }

  @mixin atXLarge {
    padding: 25px 32px 12px;
  }

  &__nav-bar {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    @mixin atMedium {
      margin-bottom: 24px;
    }

    @mixin atLarge {
      margin-bottom: 18px;
    }

    @mixin atXLarge {
      margin-bottom: 24px;
    }
  }

  &__title {
    font-size: 1.4rem;
    margin-right: auto;

    span {
      display: inline-block;

      &:first-child {
        margin-right: 5px;
      }
    }

    @mixin atMedium {
      font-size: 1.75rem;
    }

    @mixin atLarge {
      font-size: 1.55rem;
    }

    @mixin atXLarge {
      font-size: 1.75rem;
    }
  }

  &__nav-buttons {
    display: flex;
    width: 82px;
    justify-content: space-between;

    @mixin atMedium {
      width: 105px;
    }

    @mixin atLarge {
      width: 90px;
    }

    @mixin atXLarge {
      width: 105px;
    }
  }

  &__nav-btn {
    background-color: $gray30;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;

    @mixin atMedium {
      width: 38px;
      height: 38px;
    }

    @mixin atLarge {
      width: 32px;
      height: 32px;
    }

    @mixin atXLarge {
      width: 38px;
      height: 38px;
    }
  }

  &__angle-icon {
    display: block;
    color: white;
    width: 12px;
    height: 20px;
    margin: auto;

    @mixin atMedium {
      width: 16px;
      height: 28px;
    }

    @mixin atLarge {
      width: 14px;
      height: 24px;
    }

    @mixin atXLarge {
      width: 16px;
      height: 28px;
    }
  }
  
  &__main {
    flex: 1;
    display: flex;
    margin: 0 -12px 0 -10px;

    @mixin atMedium {
      margin: 0 -17px 0 -18px;
    }

    @mixin atLarge {
      margin: 0 -14px 0 -13px;
    }

    @mixin atXLarge {
      margin: 0 -17px 0 -18px;
    }
  }

  &__weekday-col {

    &--Monday {
      flex: 52;
    }

    &--Tuesday {
      flex: 49;
    }

    &--Wednsday {
      flex: 55;
    }

    &--Thursday {
      flex: 50;
    }

    &--Friday {
      flex: 41;
    }

    &--Saturday {
      flex: 48;
    }

    &--Sunday {
      flex: 51;
    }
  }

  &__weekday-col {
    display: flex;
    flex-direction: column;

    &::after {
      display: block;
      content: '';
      flex: .1; /* extra margin at the bottom */

      @mixin atMedium {
        flex: 0;
      }
    }
  }

  &__weekday {
    font-size: .825rem;
    font-weight: 400;
    color: $gray50;
    margin: 0 0 8px;
    text-align: center;

    @mixin atMedium {
      font-size: .95rem;
    }

    @mixin atLarge {
      font-size: .85rem;
    }

    @mixin atXLarge {
      font-size: .95rem;
    }
  }

  &__dates {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__date-container {
    width: 31px;
    height: 31px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    @mixin atMedium {
      width: 40px;
      height: 40px;
    }

    @mixin atLarge {
      width: 35px;
      height: 35px;
    }

    @mixin atXLarge {
      width: 40px;
      height: 40px;
    }
  }

  &__date-container--today {
    background-color: $mainLavender;
  }

  &__date-container--selected:not(.calendar-card__date-container--today) {
    border: 1px solid $topGradientLight;
  }

  &__date {
    font-size: .75rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
    line-height: 30px;
    color: $gray30;

    @mixin atMedium {
      font-size: .95rem;
      line-height: 36px;
    }

    @mixin atLarge {
      font-size: .8rem;
      line-height: 33px;
    }

    @mixin atXLarge {
      font-size: .95rem;
      line-height: 36px;
    }

    .calendar-card__date-container--current & {
      color: $mainBlack;
    }

    transition: transform 1.5s ease-out;

    .calendar-card--next & {
      transform: translateX(-500px);
    }
  }

  &__item-dots {
    font-size: 0;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    text-align: center;

    @mixin atMedium {
      bottom: 6px;
    }

    .calendar-card__date-container--today & {
      display: none;
    }
  }

  &__item-dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 .5px;

    @mixin atMedium {
      width: 5px;
      height: 5px;
      margin: 0 1px;
    }

    @mixin atLarge {
      width: 4px;
      height: 4px;
    }

    @mixin atXLarge {
      width: 5px;
      height: 5px;
    }

    &--task {
      background-color: $primaryOrange;
    }

    &--event {
      background-color: $primaryBlue;
    }

    &--meeting {
      background-color: $primaryRed;
    }

    &--note {
      background-color: $primaryGreen;
    }
  }
}