.calendar-display {
  height: 100%;

  @mixin atLarge {
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    @mixin atLarge {
      font-weight: 300;
      color: white;
    }
  }

  &__time-distance {
    margin-top: 0;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity .2s ease-out;

    @mixin atMedium {
      font-size: 1.65rem;
      margin-bottom: 20px;
    }

    @mixin atLarge {
      line-height: .9;
    }

    @mixin atXLarge {
      margin-bottom: 34px;
    }
  }

  &__time-distance--faded {
    opacity: 0;
  }

  &__card-iterator {
    margin: 0;

    @mixin atMedium {
      font-size: 1.4rem;
      margin-top: 2px;
    }
  }

  &__items {
    min-height: 87px;
    opacity: 1;
    transition: opacity .2s ease-out;
  }

  &__items--hidden {
    opacity: 0;
  }

  &__item-group {
    display: none;
  }

  &__item-group--selected {
    display: block;
  }

  &__item-group[data-id="empty"] {
    h3 {
      color: $gray50;
      font-weight: 500;
      border: 1px solid $gray20;
      margin: 0;
      height: 87px;
      line-height: 87px;
      text-align: center;
    }
  }

  &__card-container {
    display: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .3);

    @mixin atMedium {
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    }

    @mixin atLarge {
      box-shadow: none;
      margin-bottom: 20px;
    }

    @mixin atXLarge {
      box-shadow: none;
      margin-bottom: 40px;
    }
  }

  &__card-container--visible {
    display: block;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 40px;

    @mixin atMedium {
      margin-top: 15px;
      padding: 0 80px;
    }

    @mixin atLarge {
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 70px;
    }
  }

  &__prev-container,
  &__next-container {
    display: flex;
    cursor: pointer;
    color: $gray50;

    @mixin atLarge {
      color: white;
    }
  }

  &__prev-container::after,
  &__next-container::before {
    @mixin atLarge {
      display: inline-block;
      content: 'Prev';
      font-size: 1.65rem;
      font-weight: 300;
      margin-left: 15px;
    }
  }

  &__next-container::before {
    @mixin atLarge {
      content: 'Next';
      margin-right: 15px;
    }
  }

  &__footer-icon {
    display: block;
    width: 15px;
    height: 24px;

    @mixin atMedium {
      width: 20px;
      height: 35px;
    }

    @mixin atLarge {
      height: 30px;
    }
  }
}