.item-card {
  background-color: white;
  display: flex;
  color: $mainBlack;
  overflow: hidden;
  cursor: pointer;

  &__left-strip {
    flex: none;
    width: 8px;

    @mixin atMedium {
      width: 11px;
    }

    @mixin atLarge {
      width: 10px;
    }

    [data-card-type="task"] & {
      background-color: $primaryOrange;
    }

    [data-card-type="event"] & {
      background-color: $primaryBlue;
    }

    [data-card-type="meeting"] & {
      background-color: $primaryRed;
      background-image: linear-gradient(-45deg, transparent 0, transparent 8%, white 8%, white 16%, transparent 16%, transparent 24%, white 24%, white 32%, transparent 32%, transparent 40%, white 40%, white 48%, transparent 48%, transparent 56%, white 56%, white 64%, transparent 64%, transparent 72%, white 72%, white 80%, transparent 80%, transparent 88%, white 88%, white 96%, transparent 96%, transparent 100%);
      box-shadow: 1px 0 4px 0 rgba(0, 0, 0, .4);
    }

    [data-card-type="meeting"][data-meeting-status="accepted"] & {
      background-image: none;
    }

    [data-card-type="note"] & {
      background-color: $primaryGreen;
    }
  }

  &__content {
    padding: 14px 15px 14px 12px;
    flex: auto;
    width: 0;

    @mixin atMedium {
      padding: 22px 25px; 
    }

    @mixin atLarge {
      padding: 16px 20px;
    }
  }

  &__title {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @mixin atMedium {
      font-size: 1.4rem;
    }

    @mixin atLarge {
      font-size: 1.3rem;
    }
  }

  &__date {
    font-size: .75rem;
    color: $gray50;
    font-weight: 400;
    margin: 7px 0 10px;

    span {
      margin-right: 14px;
    }

    @mixin atMedium {
      font-size: .95rem;
      margin: 9px 0 13px;
    }

    @mixin atLarge {
      font-size: .875rem;
      margin: 8px 0 11px;
    }
  }

  &__time {
    font-size: .75rem;
    margin-top: 11px;
    margin-bottom: 5px;

    span {
      margin-right: 15px;
    }

    @mixin atMedium {
      font-size: .95rem;
      margin-top: 15px;
      margin-bottom: 8px;
    }

    @mixin atLarge {
      font-size: .875rem;
      margin-top: 12px;
      margin-bottom: 7px;
    }

    .item-card--shortened & {
      margin-top: 5px;

      @mixin atMedium {
        margin-top: 15px;
      }

      @mixin atLarge {
        margin-top: 12px;
      }
    }
  }

  &__details {
    font-size: .75rem;
    margin: 0;
    line-height: 2.5ex;
    min-height: 5ex;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;

    span {
      margin-right: 39px;
      float: left;
      height: 5ex;

      @mixin atMedium {
        margin-right: 47px;
      }

      @mixin atLarge {
        margin-right: 44px;
      }

      [data-card-type="meeting"] & {
        margin-right: 32px;

        @mixin atMedium {
          margin-right: 36px;
        }

        @mixin atLarge {
          margin-right: 35px;
        }
      }
    }

    @mixin atMedium {
      font-size: .95rem;
    }

    @mixin atLarge {
      font-size: .875rem;
    }

    .item-card--shortened & {
      -webkit-line-clamp: 1;
      min-height: 2.5ex;

      span {
        height: 2.5ex;
      }
    }
  }

  &__body {
    margin: 0;
    font-size: .75rem;
    line-height: 2.5ex;
    min-height: 7.5ex;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

    @mixin atMedium {
      font-size: .95rem;
    }

    @mixin atLarge {
      font-size: .875rem;
    }

    .item-card--shortened & {
      -webkit-line-clamp: 2;
      min-height: 5ex;
      margin-top: 5px;

      @mixin atMedium {
        margin-top: 12px;
      }
    }
  }

  &__task-toggle-container {
    flex: none;
    width: 55px;
    padding-top: 14px;
    position: relative;

    @mixin atMedium {
      width: 75px;
      padding-top: 22px;
    }

    @mixin atLarge {
      width: 68px;
      padding-top: 18px;
    }
  }

  &__task-checkbox-icon {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;

    @mixin atMedium {
      width: 34px;
      height: 34px;
    }

    @mixin atLarge {
      width: 32px;
      height: 32px;
    }
  }

  &__task-checkbox-icon--checked {
    display: none;

    [data-task-status="done"] & {
      display: block;
    }
  }

  &__task-status {
    font-size: .75rem;
    margin-top: 48px;

    @mixin atMedium {
      font-size: .95rem;
      margin-top: 65px;
    }

    @mixin atLarge {
      font-size: .875rem;
      margin-top: 56px;
    }

    .item-card--shortened & {
      margin-top: 30px;

      @mixin atMedium {
        margin-top: 45px;
      }
    }

    [data-task-status="pending"] & {
      color: $primaryOrange;
    }

    [data-task-status="done"] & {
      color: #7ddf64;
    }

    [data-task-status="in progress"] & {
      color: $largeGradientBlue;
    }

    [data-task-status="overdue"] & {
      color: $primaryRed;
    }    
  }

  &__right-buttons {
    flex: none;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;

    @mixin atMedium {
      width: 75px;
      padding: 22px 0;
    }

    @mixin atLarge {
      width: 68px;
      padding: 18px 0;
    }

    .item-card--shortened & {
      padding: 8px 0;

      @mixin atMedium {
        padding: 14px 0;
      }
    }
  }

  &__icon {
    color: $gray30;
  }

  &__icon--edit {
    display: block;
    width: 24px;
    height: 24px;

    @mixin atMedium {
      width: 34px;
      height: 34px;
    }

    @mixin atLarge {
      width: 32px;
      height: 32px;
    }
  }

  &__icon--trash {
    display: block;
    width: 22px;
    height: 25px;

    @mixin atMedium {
      width: 32px;
      height: 35px;
    }

    @mixin atLarge {
      width: 29px;
      height: 33px;
    }
  }
}