.notification-display {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 430px;
  list-style-type: none;
  height: 100%;
  overflow-y: auto;

  @mixin atMedium {
    max-width: 520px;
    padding: 30px 10px;
  }

  @mixin atLarge {
    padding: 0;
  }

  &__item {
    display: none;
  }

  &__item--visible {
    display: block;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;

    @mixin atMedium {
      font-size: 1.75rem;
      margin-bottom: 25px;
    }

    @mixin atLarge {
      color: white;
      font-weight: 300;
      margin-bottom: 20px;
      font-size: 1.65rem;
      line-height: .9;
    }

    @mixin atXLarge {
      margin-bottom: 34px;
      
    }
  }

  &__card-container {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .3);
    margin-bottom: 30px;

    @mixin atMedium {
      margin-bottom: 40px;
    }
    
    @mixin atLarge {
      margin-bottom: 20px;
      box-shadow: none;
    }

    @mixin atXLarge {
      margin-bottom: 30px;
    }
  }

  &__buttons {
    height: 85px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;

    button {
      margin: 0 10px;
    }

    @mixin atMedium {
      height: 120px;
      padding: 0 30px;
    }

    @mixin atLarge {
      height: 92px;
    }

    @mixin atXLarge {
      height: 120px;
    }
  }
}