.entry-form {
  background-color: #fff;
  border: 1px solid $gray50;
  padding: 20px;
  margin-top: -20px;
  border-radius: 20px;

  @mixin atMedium {
    margin-top: -50px;
  }

  @mixin atLarge {
    margin-top: 0;
    flex: auto;
    border: none;
  }

  &__title {
    font-size: 1.65rem;
    font-weight: 400;
    margin-top: 0;
    text-align: center;

    @mixin atMedium {
      font-size: 2.5rem;
      margin: .5rem 0 2.5rem;
    }

    @mixin atLarge {
      font-size: 2.25rem;
    }

    @mixin atXLarge {
      margin: 0 0 3.25rem;
    }
  }

  &__input {
    display: flex;
    border: 1px solid $gray20;
    border-radius: $pill;
    overflow: hidden;
    margin-bottom: 25px;

    @mixin atMedium {
      margin-bottom: 42px;
    }

    @mixin atLarge {
      margin-bottom: 38px
    }
  }

  &__input--mb-small {
    margin-bottom: 16px;

    @mixin atMedium {
      margin-bottom: 28px;
    }

    @mixin atLarge {
      margin-bottom: 24px;
    }
  }

  &__input__field {
    flex: auto;
    min-width: 0;
    font-size: 1rem;
    color: $mainBlack;
    padding: 12px 18px;
    height: 40px;
    outline: none;
    border: none;

    &::placeholder {
      color: $gray30;
    }

    @mixin atMedium {
      height: 62px;
      font-size: 1.55rem;
      font-weight: 300;
      padding: 20px 28px;
    }

    @mixin atLarge {
      height: 50px;
      font-size: 1.25rem;
      font-weight: 400;
      padding: 16px 24px;
    }
  }

  &__input__circle {
    display: flex;
    align-self: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex: none;
    margin: 0 5px;
    background: linear-gradient(to right, $topGradientDark, $topGradientLight);

    @mixin atMedium {
      width: 48px;
      height: 48px;
      margin: 0 7px;
    }

    @mixin atLarge {
      width: 38px;
      height: 38px;
      margin: 0 6px;
      background: linear-gradient(to right, $largeGradientPink, $largeGradientBlue);
    }
  }

  &__input__icon {
    width: 16px;
    height: 20px;
    margin: auto;
    color: #fff;

    @mixin atMedium {
      width: 25px;
      height: 30px;
    }

    @mixin atLarge {
      width: 19px;
    }
  }

  &__input__icon--pull-up {
    position: relative;
    bottom: 1px;
  }

  &__input__pass-toggle {
    display: flex;
    width: 50px;
    flex: none;

    @mixin atMedium {
      width: 70px;
    }

    @mixin atLarge {
      width: 60px;
    }
  }

  &__input__pass-toggle__icon {
    width: 24px;
    height: 18px;
    margin: auto;
    color: $gray30;

    @mixin atMedium {
      width: 32px;
      height: 32px;
    }

    @mixin atLarge {
      width: 28px;
    }
  }

  &__options-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    @mixin atMedium {
      margin-bottom: 42px;
    }

    @mixin atLarge {
      margin-bottom: 36px;
    }
  }

  &__remember {
    display: flex;
    align-items: center;
  }

  &__remember__icon {
    width: 20px;
    height: 20px;
    color: $gray30;

    @mixin atMedium {
      width: 32px;
      height: 32px;
    }

    @mixin atLarge {
      width: 26px;
      height: 26px;
    }
  }

  &__remember__text {
    font-size: .75rem;
    font-weight: 400;
    color: $gray30;
    margin: 0 0 0 12px;

    @mixin atMedium {
      font-size: 1.2rem;
      margin-left: 16px;
    }

    @mixin atLarge {
      font-size: 1.1rem;
      margin-left: 14px;
    }
  }

  &__forgot {
    font-size: .75rem;
    font-weight: 400;
    color: $gray70;
    margin: 0;

    @mixin atMedium {
      font-size: 1.2rem;
    }

    @mixin atLarge {
      font-size: 1.1rem;
    }
  }

  &__or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 .75rem;

    @mixin atMedium {
      margin: 2.25rem 0 2rem;
    }

    @mixin atLarge {
      margin: 1.75rem 0 1.5rem;
    }

    @mixin atXLarge {
      margin: 2.5rem 0 2rem;
    }
  }

  &__or__circle {
    font-size: .75rem;
    font-weight: 400;
    color: $gray50;
    width: 28px;
    height: 28px;
    border: 1px solid $mainLavender;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    margin: 0;

    @mixin atMedium {
      font-size: 1.15rem;
      width: 43px;
      height: 43px;
      line-height: 39px;
      border-width: 2px;
    }
  }

  &__or__line {
    height: 1px;
    width: 30px;
    border: none;
    background-color: $mainLavender;
    margin: 0 10px;

    @mixin atMedium {
      height: 2px;
      width: 45px;
      margin: 0 16px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: .75rem;
    color: $gray70;
    display: block;
    width: max-content;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;

    @mixin atMedium {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    @mixin atLarge {
      font-size: 1.1rem;
    }
  }
}