.layout {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  @mixin atXLarge {
    display: flex;
    background: $largeGradient;
    overflow: hidden;
  }

  &__inner {
    height: 100%;
    position: relative;
    overflow: hidden;

    @mixin atXLarge {
      height: auto;
      margin: auto;
      padding-bottom: 50px;
      overflow: visible;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, auto) minmax(0, 1fr);

    @mixin atMedium {
      grid-template-columns: 110px 1fr;
    }

    @mixin atLarge {
      grid-template-columns: 235px 1fr;
    }

    @mixin atXLarge {
      width: 1280px;
      height: 750px;
      z-index: 2;
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &__menu-container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    @mixin atMedium {
      grid-column: 1 / 2;
    }
  }

  &__menu-container--on-top {
    z-index: 10;
    perspective: 1000px;
  }

  &__glass {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 2;
    background: linear-gradient(to right, $topGradientDark, $topGradientLight);

    @mixin atMedium {
      grid-column: 2 / -1;
      background: linear-gradient(to top left, $topGradientDark, $topGradientLight);
    }

    @mixin atLarge {
      grid-row: 1 / -1;
      z-index: 0;
      background: $largeGradientReversed;
    }

    @mixin atXLarge {
      background: rgba(0, 0, 0, .3);
      backdrop-filter: blur(12px);
    }
  }

  &__sub-menu-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 3;
    padding: $controlPyBaseline $controlPxBaseline;

    @mixin atMedium {
      grid-column: 2 / -1;
      padding: $controlPtMedium $controlPxMedium $controlPbMedium;
    }

    @mixin atLarge {
      padding: $controlPyLarge $controlPxLarge;
    }

    @mixin atXLarge {
      z-index: 1;
      padding: $controlPyLarge $controlPxXLarge;
    }
  }

  &__content-container {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    z-index: 1;
    padding: 0 10px;
    background-color: $mainSilver;

    @mixin atMedium {
      grid-column: 2 / -1;
    }

    @mixin atLarge {
      padding: 0 $controlPxLarge $controlPyLarge;
      background-color: transparent;
    }

    @mixin atXLarge {
      padding: 0 $controlPxXLarge $controlPyLarge;
    }
  }

  &__content-container--chat {
    padding: 0;

    @mixin atLarge {
      padding: 0 $controlPxLarge $controlPyLarge;
    }

    @mixin atXLarge {
      padding: 0 $controlPxXLarge $controlPyLarge;
    }
  }

  &__circle {
    display: none;
    position: absolute;
    border-radius: 50%;
    transform: translate(50%, -50%);
    background-color: $mainLavender;

    @mixin atMedium {
      display: block;
      z-index: 1;
    }

    @mixin atLarge {
      display: none;
    }

    @mixin atXLarge {
      display: block;
      background-color: $largeGradientCircles;
    }
  }

  &__circle--large {
    width: 160px;
    height: 160px;
    top: 40px;
    right: 45px;

    @mixin atXLarge {
      width: 300px;
      height: 300px;
      top: 815px;
      right: 380px;
    }
  }

  &__circle--small {
    width: 50px;
    height: 50px;
    top: 215px;
    right: 95px;

    @mixin atXLarge {
      width: 200px;
      height: 200px;
      top: 260px;
      right: 30px;
    }

    .layout--team & {
      display: none;

      @mixin atXLarge {
        display: block;
      }
    }

    .layout--chat & {
      display: none;
    }
  }
}