<div class="slider slider--1">

  <div class="slider__item slider__item--1" data-index="1">

    <% if(route == 'mail') { %>
      <span>Inbox</span>
    <% } %>

  </div>

  <div class="slider__item slider__item--2" data-index="2">

    <% if(route == 'mail') { %>
      <span>Sent</span>
    <% } %>

  </div>

  <div class="slider__item slider__item--3" data-index="3">

    <% if(route == 'mail') { %>
      <span>Drafts</span>
    <% } %>

  </div>

  <div class="slider__indicator"></div>

</div>