<div class="date-filter">

  <label for="date-filter__input--between" class="date-filter__label">Between</label>

  <input type="text" class="date-filter__input date-filter__input--between" id="date-filter__input--between" value="12/15/2021">

  <label for="date-filter__input--and" class="date-filter__label">and</label>

  <input type="text" class="date-filter__input date-filter__input--and" id="date-filter__input--and" value="02/15/2022">

</div>