<div class="slider-bar">

  <div class="slider-bar__notifier">
    <% if(route == 'mail') { %>
      <%- include ../../components/_mail-notifier %>
    <% } %>
  </div>
  
  <div class="slider-bar__slider">
    <%- include ../../components/_slider %>
  </div>

</div>