<div class="menu">
  <div class="menu__content">
    
    <div class="menu__user menu__wrapper">

      <div class="menu__user-photo-container">
        <div class="menu__user-photo-frame">
          <img src="assets/images/john-schaffer.png" alt="A photo of John Schaffer" class="menu__user-photo">
        </div>
      </div>

      <h1 class="menu__user-name">John Schaffer</h1>

      <h3 class="menu__user-email">dowely.code@gmail.com</h3>

      <hr class="menu__divider">

    </div>
  
    <ul class="menu__items">
  
      <li class="menu__item menu__wrapper">
        <a href="" class="menu__icon-link">
          <svg class="menu__icon">
            <use href="#clock-regular"></use>
          </svg>
        </a>
        <a href="" class="menu__link">Organizer</a>
        <div class="menu__notifier menu__notifier--visible">7</div>
      </li>
  
      <li class="menu__item menu__wrapper <%= route == 'mail' ? 'menu__item--active' : '' %>">
        <a href="" class="menu__icon-link">
          <svg class="menu__icon">
            <use href="#envelope-regular"></use>
          </svg>
        </a>
        <a href="" class="menu__link">Mail</a>
        <div class="menu__notifier menu__notifier--visible">+99</div>
      </li>
  
      <li class="menu__item menu__wrapper">
        <a href="" class="menu__icon-link">
          <svg class="menu__icon">
            <use href="#user-group-solid"></use>
          </svg>
        </a>
        <a href="" class="menu__link">Team</a>
        <div class="menu__notifier"></div>
      </li>
  
      <li class="menu__item menu__wrapper">
        <a href="" class="menu__icon-link">
          <svg class="menu__icon">
            <use href="#comment-regular"></use>
          </svg>
        </a>
        <a href="" class="menu__link">Chat</a>
        <div class="menu__notifier"></div>
      </li>
  
      <li class="menu__item menu__wrapper">
        <a href="" class="menu__icon-link">
          <svg class="menu__icon">
            <use href="#magnifying-glass-solid"></use>
          </svg>
        </a>
        <a href="" class="menu__link">Search</a>
        <div class="menu__notifier"></div>
      </li>
  
      <li class="menu__item menu__wrapper">
        <a href="" class="menu__icon-link">
          <svg class="menu__icon">
            <use href="#gear-solid"></use>
          </svg>
        </a>
        <a href="" class="menu__link">Profile</a>
        <div class="menu__notifier"></div>
      </li>
  
      <li class="menu__item menu__wrapper">
        <a href="" class="menu__icon-link">
          <svg class="menu__icon">
            <use href="#door-open-solid"></use>
          </svg>
        </a>
        <a href="" class="menu__link">Log out</a>
        <div class="menu__notifier"></div>
      </li>
  
    </ul>

  </div>
</div>