<div class="sub-menu-mail">

  <div class="sub-menu-mail__top-bar">
    <div class="sub-menu-mail__control">
      top bar
    </div>
  </div>

  <div class="sub-menu-mail__search-field">
    <div class="sub-menu-mail__control">
      search field
    </div>
  </div>

  <div class="sub-menu-mail__date-filter">
    <div class="sub-menu-mail__control">
      date filter
    </div>
  </div>

  <div class="sub-menu-mail__slider-bar">
    <div class="sub-menu-mail__control">
      slider bar
    </div>
  </div>

</div>