<div class="top-bar-search">

  <div class="top-bar-search__back">

    <div class="top-bar-search__back-tap-area" id="back-tap-area"></div>

    <svg class="top-bar-search__back-icon">
      <use href="#arrow-left-regular"></use>
    </svg>

  </div>

  <h2 class="top-bar-search__title">Page not found</h2>

</div>