<div class="sub-menu-team">

  <div class="sub-menu-team__top-bar">
    <div class="sub-menu-team__control">
      <div class="top-bar-team">

        <div class="top-bar-team__back">

          <div class="top-bar-team__back-tap-area" id="back-tap-area"></div>
    
          <svg class="top-bar-team__back-icon">
            <use href="#arrow-left-regular"></use>
          </svg>
    
        </div>
    
        <h2 class="top-bar-team__title">Team</h2>

      </div>

    </div>
  </div>

  <div class="sub-menu-team__my-profile">
    <div class="sub-menu-team__control">
      <div class="sub-menu-team__my-profile-wrapper">

        <div class="sub-menu-team__my-profile__edit">

          <a href="profile.html" class="sub-menu-team__my-profile__edit-tap-area"></a>
  
          <svg class="sub-menu-team__my-profile__edit-icon">
            <use href="#pen-to-square-regular"></use>
          </svg>
  
        </div>
  
        <div class="sub-menu-team__my-profile__avatar">
          <img src="assets/images/john-schaffer.png" alt="A photo of John Schaffer" class="sub-menu-team__my-profile__avatar-img">
        </div>

      </div>

    </div>
  </div>

  <div class="sub-menu-team__search-field">
    <div class="sub-menu-team__control">
      <%- include ../components/sub-menu/_search-field.ejs %>
    </div>
  </div>
</div>